<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link href="index_HD.css" rel="stylesheet">
  
  <title>Quotes</title>
	
</head>

<body class="heart__analysis__container" >

	 <h1 class="header">
		 <img src="quote.png" />	 
	 </h1>

	 
	 <div class="form__container">
    <form action="{{ url_for('predict')}}" method="post" class="form">
		

		<div class="row">
			<div class="col-25">
			</div>
			<div class="col-75">
				<input type="text" name="topic" placeholder="Type here" required="required" autocomplete="off"/>
			</div>
		</div>
		
		<span class="button__wrapper">
			<button type="submit" class="analyse__btn" >Search</button>
		</span>
		
		
		{{quotes_result}}
		
	</form>
</div>
<div class='footer'>
	<div class="contact">
		<a target="_blank" href="https://github.com/Subhamp7" ><img src="github.png" class="git__logo"/></a>
		<a target="_blank" href="https://www.linkedin.com/in/Subhamp7"><img src="linkedin.png"/></a>
	</div>
	<p class="footer__description">Made by Subham Prasad.</p>
	</div>
	
 </div>
</body>
</html>